@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
:root {
    --background: 204 100% 95%;
    --foreground: 204 5% 10%;
    --card: 204 50% 91%;
    --card-foreground: 204 5% 15%;
    --popover: 204 100% 95%;
    --popover-foreground: 204 100% 10%;
    --primary: 204 80.2% 15.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 166 30% 91%;
    --muted-foreground: 204 5% 40%;
    --accent: 166 30% 90%;
    --accent-foreground: 204 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 204 5% 91%;
    --border: 204 30% 82%;
    --input: 204 30% 50%;
    --ring: 204 80.2% 15.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 204 50% 10%;
    --foreground: 204 5% 91%;
    --card: 204 50% 10%;
    --card-foreground: 204 5% 91%;
    --popover: 204 50% 5%;
    --popover-foreground: 204 5% 91%;
    --primary: 204 80.2% 15.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 166 30% 25%;
    --muted-foreground: 204 5% 65%;
    --accent: 166 30% 25%;
    --accent-foreground: 204 5% 91%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 204 5% 91%;
    --border: 204 30% 50%;
    --input: 204 30% 50%;
    --ring: 204 80.2% 15.9%;
    --radius: 0.5rem;
  }
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
